.tableStyle{
    width: 100%;
    padding: 1em;
    border-collapse: collapse;
    box-shadow: 0px 0px 1px 7px rgb(35, 156, 116);
    margin-bottom: 60px;
    
}
caption{
    margin-bottom: 8px;
}
td, th{
    border: 2px solid black;
    background-color: rgb(167, 195, 231);
    border-color: rgb(85, 88, 104);
    font-size: 1.2em;
}
th{
    background-color: white;
    text-align: left;
}
.red{
    background-color: rgb(206, 122, 122);
}
.grey{
    background-color: rgb(85, 88, 104);
}

/* css target HTML Table caption tag */
caption{
    text-align: center;
    color: white;
    font-size: 2em;
}
body{
    background-image: linear-gradient(to right, rgb(35, 156, 116),
                                      rgb(85, 88, 104),
                                      rgb(206, 122, 122));
}
.colspan {
    background-color: white;
    text-align: center;
}
a:link {
    color: rgb(91, 91, 247);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }
  
  /* mouse over link */
  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: #6464f8;
  }
