@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Sans:ital@1&family=Merriweather+Sans&family=Oswald&family=Roboto+Slab&display=swap');

$font-main: 'Merriweather', Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;

$offwhite: #EEE8D6;
$darkblue: #022933;
$red: #d14367;
$blue: #2f71ff;
$yellow: #e9ae0c;

$color-main: $darkblue;
$color-background: $offwhite;
$color-headline: $red;